html,
body {
	align-items: center;
	background: #039BE5; 
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	justify-content: center;
	width: 100vw;
}

h1 {
	font-family: chewy;
	font-size: 80px;
	color: #FFFFFF;
	letter-spacing: 3px;
	text-shadow: 0 0 5px black;
}

#board {
	background: green;
	border-radius: 15px;
	box-shadow: 0 0 20px #000;
	display: flex;
	flex-direction: column;
	min-height: 300px;
	overflow: hidden;
}

#players-turn {
	background: #1E88E5;
	border-radius: 10px;
	color: #FFFFFF;
	font: 2em chewy;
	margin-bottom: 25px;
	padding: 10px;
	text-shadow: 0 0 5px black;
}

.row {
	display: flex;
}

.square {
	align-items: center;
	background: #F44336;
	box-shadow: 0 0 0 2px #322, 0 0 10px #8a8a8a inset;
	color: #FFFFFF;
	display: flex;
	font: 4em chewy;
	height: 100px;
	justify-content: center;
	text-shadow: 1px 1px 1px #000;
  	transition: 500ms;
  	width: 100px;
}

.square:empty:hover {
	background: #FFEE58;
	cursor: pointer;
}

button {
	border: none;
	border-radius: 10px;
	background: #EF4581;
	color: #FFFFFF;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	box-shadow: .square {
		align-items: center;
		background: red;
		box-shadow: 0 0 0 2px #322, 0 0 10px #8a8a8a inset;
		color: limegreen;
		display: flex;
		font: 4em chewy;
		height: 100px;
		justify-content: center;
		text-shadow: 1px 1px 1px #000;
	  	transition: 500ms;
	  	width: 100px;
	}
	color: limegreen;
	font: 1.5em chewy;
	margin-top: 25px;
	padding: 8px;
	text-shawow: 1px 1px 5px #999;
}

button:hover {
	background: #F06292;
	cursor: pointer;
}

.banner {
	align-items: center;
	display: flex;
	font: 9em Chewy;
	height: 300px;
	justify-content: center;
	position: absolute;
	text-align: center;
	text-shadow: 3px 3px yellow;
}

.tie-banner {
	color: limegreen;
	margin-left: -10px;
}

.win-banner {
	color: rgba(0,170,0,0.5);
  	margin-left: -100px;
}

.tie {
	background: #433;
	transition: 1000ms;
}

.win {
  background: #009688;
  transition: 1000ms;
}

.hidden {
  display: none;
}

.invisible {
  opacity: 0;
}
